.labComponent {
    padding: 5vh 7vh;
}

.labLeft {
    font-size: 1.2rem;
}

.labParagraph{
    text-align: left;
}

.labTitle {
    font-size: 4.5rem;
    color: red;
}

.labbtnSection button {
    padding: 0px 20px;
    margin-left: 20px;
    border-radius: 50px;
    font-size: 2rem;
    background-color: red;
    color: white;
}

.labbtnSection button:hover {
    background-color: transparent;
}