.labComponent {
    background-color: black;
    color: white;
}

.labLeft {
    font-size: 1.2rem;
    text-align: left;
}

.labRight {}

.labTitle {
    font-size: 4.5rem;
    color: red;
}

.labbtnSection button {
    padding: 0px 20px;
    margin-left: 20px;
    color: white;
    background-color: red;
    border-radius: 50px;
    font-size: 2rem;
}

.labbtnSection button:hover {
    background-color: transparent;
}